.iconBox {
    width: fit-content;
    padding-block: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 0.5rem;
    border: none;
    border-radius: 5px;
}

.icon {
    font-size: var(--icon-size-medium);
}