@use 'app/app.scss';

.userInfoContainer {
    width: 100%;
    max-width: 800px;
    margin-bottom: 3rem;
    @include app.flex-layout(column);
    gap: 2rem;
}

.profilesPicture {
    width: 200px;
    margin: auto;
}

.userInfo {
    @include app.flex-layout(column, center, center, 0.5rem)
}

.introduceText {
    color: rgb(var(--base-rgb-grey-medium));
}

.profileEditButton {
    color: white;
    background-color: rgb(var(--main-rgb));
    border: none
}

.followBox {
    padding: 1rem;
    display: inline-block;
    font-size: 1.25em;
}

.userRecipeContainer {
    max-width: 800px;
}

.userRecipeList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.userRecipeCard>:last-child {
    @include app.flex-layout(row, center, space-between);
}

.userRecipeCard b {
    font-size: 1em !important;
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
    .userActionBar {
        flex-direction: column;
    }

    .userRecipeList {
        grid-template-columns: 1fr 1fr;
    }

    .userRecipeCard>:last-child {
        gap: 0;
        padding-inline: 0.5rem;
    }
}