.container {
    width: 100%;
    position: relative;
}

.container > label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.container > textarea {
    width: 100%;
    min-height: 5rem;
    padding: 0.5rem;
    resize: none;
}

.textCounter {
    position: absolute;
    right: 1.25rem;
    bottom: 0.5rem;
    color: rgb(var(--base-rgb-grey-medium));
    font-size: 0.75rem;
}